<div class="animate__animated animate__bounceInLeft">
    <div class="tituloCliente">
      <div class="container-fluid">
        <h1>Reportes</h1>
        <div class="d-flex">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Listado de Clientes</button>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Ventas por Cliente</button>
        </div>
      </div>
    </div>
  </div>