.formularioPrincipal{
	padding: 20px 2.5%;
	width:95%;
	height:auto;
	margin: 40px auto;
	border: 1.5px solid rgba(0,0,0,0.2);
	border-radius:8px;
	display:grid;
	grid-template-areas: "inputCedula consecutivo "
						"nombreCliente TelefonoCliente"
						"direccionCliente correoCliente";
	grid-template-columns: 50% 50%;
	background: white;
	gap: 5px 20px;
}

.fieldCedula{
	grid-area:inputCedula;
	display:grid;
	grid-template-areas: "label label"
						"input boton";
	grid-template-columns: calc(75% - 10px) calc(25% - 10px);
	gap:0px 20px;
}
.cedulaTittle{
	grid-area:label;
}
#cedulaC{
	grid-area:input;
	height: 39px;
}
.btnCliente{
	grid-area:boton;
	border:none;
	background:green;
	border-radius:5px;
	color:white;
	height: 39px;
	transition:all .1s linear;
}

.consecutivoV{
	grid-area: consecutivo;
	display:grid;
	grid-template-areas: "consecutivoTittle"
						"consecutivoinput";
	grid-template-columns: 100%;
}
.consecutivo{
	grid-area: consecutivoinput;
}
.seleccionarCiudad{
	padding: 5px 20px;
}
.consecutivoTittle{
	grid-area:consecutivoTittle;
}
.ciudadTittle{
	margin: 0 15px 0 5%;
}

.inputNombre{
	grid-area:nombreCliente;
	
}

.inputDireccion{
	grid-area:direccionCliente;
	
}
.inputTelefono{
	grid-area: TelefonoCliente;
	
}

.inputCorreo{
	grid-area: correoCliente;
	
}

.iconSearch{
	height:20px;
}
.btnProducto1, .btnProducto2, .btnProducto3 {
	background:green;
	border-radius:5px;
	color:white;
	border:none;
	transition:all .1s linear;
}
.btnProducto1:hover, .btnProducto2:hover, .btnProducto3:hover, .btnProducto4:hover, .btnCliente:hover, .calcularTotales:hover, .confirmarVenta:hover{
	transform:scale(1.02);
}
.botonCalcular{
	width:100%;
	height:auto;
	display:flex;
	justify-content: right;
}
.btnProducto4 {
	background:green;
	border-radius:5px;
	color:white;
	border:none;
	padding:10px 50px;
	margin: 20px 25px 0px;
	transition:all .1s linear;
}
#datosCliente{
	grid-area:datosCliente;
	display:grid;
	grid-template-areas: "nombre direccion"
						 "telefono correo";
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
}
.formularioProductos{
	padding: 20px 0px;
	width:95%;
	height:auto;
	margin: 40px auto;
	border: 1.5px solid rgba(0,0,0,0.2);
	border-radius:8px;
	background: white;
}
.titulosClientes{
	display:grid;
	grid-template-areas: "codigotitulo espacioProductoT nombreproductotitulo cantidadproducto valorproducto";
	grid-template-columns:  3fr 1.5fr 4fr 1fr 2fr;
	justify-content:center;
	text-align:center;
}
.codigoProductoT{
	grid-area:codigotitulo;
}
.espacioProductoT{
	grid-area:espacioProductoT;
}

.nombreProductoT{
	grid-area:nombreproductotitulo;
	margin-left:-25px;
}

.cantProductoT{
	grid-area:cantidadproducto;
	margin-left:-40px;
}

.valorProductoT{
	grid-area:valorproducto;
	margin-left:-30px;
}

.producto1, .producto2, .producto3{
	padding:5px 25px;
	display:grid;
	grid-template-areas: "codigo btnconsultar nombreproducto cantidadproducto valorproducto";
	grid-template-columns: 3fr 1.5fr 4fr 1fr 2fr;
	gap:22px;
}

#codigoProducto1, #codigoProducto2, #codigoProducto3{
	grid-area: codigo;
	width:100%;
}

#submitProducto1, #submitProducto2, #submitProducto3{
	grid-area: btnconsultar;
	width:100%;
	height:35px;
	margin: auto 0px;
	transform: translateY(0px);
	border:none;
	background:green;
	border-radius:5px;
	color:white;
}

#nombreProducto1, #nombreProducto2, #nombreProducto3{
	grid-area: nombreproducto;
	width:100%;
}

#cantidadProducto1, #cantidadProducto2, #cantidadProducto3{
	grid-area: cantidadproducto;
	width:100%;
}

#valorProducto1, #valorProducto2, #valorProducto3{
	grid-area: valorproducto;
	width:100%;
}
.formularioCalculo{
	padding: 20px 0px;
	width:95%;
	height:auto;
	margin: 40px auto;
	border: 1.5px solid rgba(0,0,0,0.2);
	border-radius:8px;
	padding: 30px;
	background: white;
}
#confirmarVenta, #calcularTotales{
	height:40px;
	margin: 20px 10px;
	padding: 0px 15px;
	border:none;
	background:green;
	border-radius:5px;
	color:white;
}
.tituloventas{
    justify-content: center;
    margin-top:40px;
    display: flex;
}
.calculos{
	display:grid;
	grid-template-areas: "tltTotalVenta tltIVA tltconIVA"
						 "totalVenta totalIVA totalconIVA";
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px 20px;
}
.tituloTotalVenta{
	grid-area:tltTotalVenta;
}
.totalVenta{
	grid-area:totalVenta;
}	
.tituloIVA{
	grid-area:tltIVA;
}
.totalIVA{
	grid-area:totalIVA;
}
.tituloConIVA{
	grid-area:tltconIVA;
}
.totalConIVA{
	grid-area:totalconIVA;
}
.valoresFinales{
	display:grid;
	grid-template-areas: "btnclc btnConfirmar";
	grid-template-columns: 200px 200px;
}
.calcularTotales{
	grid-area:btnclc;
	transition:all .1s linear;
}
.confirmarVenta{
	grid-area:btnConfirmar;
	transition:all .1s linear;
}