<div class="tittleContent container-fluid px-4 animate__animated animate__bounceInLeft">
    <h1>Insertar archivo de productos</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Permite cargar un archivo
        CSV con los productos que tiene la tienda</li>
    </ol>
</div>
<div class = "content">
  <input class="form-control mb-3" type="file" (change)="onChange($event)" accept=".csv">

  <button (click)="onUpload()" class="btn btn-success mx-3 mb-3"><i class="fas fa-file-upload"></i>
    Cargar
  </button>
  
  <button (click)="refrescar()" class="btn btn-danger mx-3 mb-3"><i class="fas fa-bath"  ></i>
    Refrescar
  </button>
  
  <div *ngIf="cargado == true"  class="alert alert-success" role="alert">
    Carga exitosa.  Refresque pagina.
  </div>
 
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo Producto</th>
            <th>Nombre Producto</th>
            <th>NIT Proveedor</th>
            <th>Precio Compra</th>
            <th>IVA compra</th>
            <th>Precio Venta</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of contenido">
            <td>{{producto.codigoproducto}}</td>
            <td>{{producto.nombreproducto}}</td>
            <td>{{producto.nitproveedor}}</td>
            <td>{{producto.preciocompra}}</td>
            <td>{{producto.ivacompra}}</td>
            <td>{{producto.precioventa}}</td>
        </tr>
    </tbody>
  </table>
</div>