<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets/logo4.png" width="250px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item animate__animated animate__backInDown">
          <a class="nav-link" [routerLink]="'productos'"><img src="assets/bag-handle-outline.svg">Productos</a>
        </li>
        <li class="nav-item animate__animated animate__backInDown">
          <a class="nav-link" [routerLink]="'clientes'"><img src="assets/people-outline.svg">Clientes</a>
        </li>
        <li class="nav-item animate__animated animate__backInDown">
          <a class="nav-link" [routerLink]="'ventas'"><img src="assets/wallet-outline.svg">Ventas</a>
        </li>
        <li class="nav-item animate__animated animate__backInDown">
          <a class="nav-link" [routerLink]="'reportes'"><img src="assets/document-text-outline.svg">Reportes</a>
        </li>
        <li class="nav-item animate__animated animate__backInDown">
          <a class="nav-link" [routerLink]="'consolidado'"><img src="assets/cash-outline.svg">Consolidado</a>
        </li>
      </ul>
    </div>
  </nav>